.download-button {
    /* display: inline-block; */
    margin: 3% 15px;
    padding: 10px 13px;
    background: transparent;
    border: 2px solid black;
    border-radius: 10rem;
    /* color: #fff; */
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 18px;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .download-button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #0cf; */
    border-radius: 10rem;
    z-index: -2;
  }
  .download-button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color:#2C3539;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  .download-button:hover {
    color: #fbfcf8;
    background-color: #2C3539;
  }
  .download-button:hover:before {
    width: 100%;
  }
  .google{
    color:#2C3539;
  }
  .google:before {
    background-color:#fbfcf8;
  }
  .google:hover {
    background-color:transparent ;
    color:#2C3539;
  }
  .google:hover:before {
    width: 100%;
  }

/* login button */

  .login-button {
    background: transparent;
    border: 2px solid #2C3539;
    margin: 2% 7px;
    padding: 10px 2px;
    border-radius: 50px;
    /* border: 0; */
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    position: relative;
    width: 130px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
  }
  .login-button::before {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .3s;
  }
  .login-button::after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 500px;
    width: 100%;
    height: 100%;
    transition: all .3s;
  }
  .login-button:hover::before {
    left: -300px;
  }
  .login-button:hover::after {
    left: 0px;
  }
  /* @media screen and (max-width: 480px) {
    h1 {
      font-size: 2rem;
    }
  } */
  .login{
    background-color: transparent;
    color: #2C3539;
  }
  .sign-up{
    background-color: #2C3539;
    color:#fbfcf8;
  }
  .login::before{
    content: 'Login';
  }
  .sign-up::before{
    content: 'Sign Up';
  }
  .login::after{
    font-family: FontAwesome;
    content: '\f2f6';
  }
  .sign-up::after{
   font-family: FontAwesome;
    content: '\f234';
  }
  .login:hover{
    background-color:#2C3539 ;
    color: #fbfcf8;
  }
  .sign-up:hover{
    background-color:transparent ;
    color: #2C3539;
  }
  .right a{
    padding: 20px;
  }
  a.login{
    color: #2C3539; 
  }
  a.sign-up{
    color:#fbfcf8;
  }
  /* login buttons */


/* .icons{
  display: block;
  height:fit-content;
  width: 100%;
  padding: 5rem;
  border-radius: 1.5rem;
  background-color: #f6e58d;
  color: whitesmoke;
  transition: all .5s ease 0s; 
  box-shadow: 0 10px #f9ca24;
} */

/* .icons:hover{
box-shadow: inset 0 0 0 .25rem #ffbe76;
} */

/* .icons span{
  display: inline-block;
  position: relative;
  transition: all .5s ease;
}

.icons span:before{
  content: 'books'; 
  color: #000;
  font-size: 15px;
  font-family: FontAwesome;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 3rem;
  opacity: 0;
  transition: all .5s ease 0s;
}

.icons:hover span{
  padding-bottom: 2rem; 
}

.icons:hover span:before{
  left: 0;
  opacity: 1;
}

.icons:active {
  box-shadow: 0 5px #f0932b;
  transform: translateY(5px);
}  */