* {
  box-sizing: border-box;
}

.left {
  position: absolute;
  left: 34px;
  top: 10px;
  display: inline-block;
  color: white;
  /* border: 2px solid hotpink; */
}


/* .left img {
  
    width: 200px;
    height: 200px;
  } */

.left div {
  text-align: center;
  color: black;
  /* filter: invert(300%); */
}

.logo {

  height: 290PX;
  width: 290PX;
  margin: -5rem -3rem;
}

/* Style inputs */
input[type=text],
[type=email],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-radius: 10px;
  /* border: 4px sollid solid; */
}

input
select {
  border-radius: 40px;
}
.column input,select,textarea{
  /* border: 4px solid black; */
  font-weight: bolder;
}

/* input[type=submit] {
  background-color: #08a88a;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
} */

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 3%;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column img {
  /* box-shadow: 5px 10px 18px #888888; */
  width: 100%;
  display: inline-block;
  /* height: 1000%;  */
  border-radius: 20px; 
  margin-top: 1%;
  /* margin-left: 11%; */
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .column,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* button */


.wrap {
  margin: 3%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #28231d;
  box-shadow: inset 0 0 0 2px #28231d;
  background-color: transparent;
  height: 48px;
}

.button:hover {
  color: #fff;
  background-color: #28231d;
}
#featured {
  margin-top: -9.6%;
  /* border: 2px solid hotpink; */
  position: relative;
  /* z-index: -3; */
  /* transform: rotate(10d  eg); */
  overflow: hidden;

}
#featured h2 {
  margin-top: 13.6%;
}

#featured:before {

  content: "";
  position: absolute;
  width: 120%;
  height: 140%;
  top: 40%;
  left: -7%;
  z-index: -2;
  background: #F3F3F3;
  /* background: #DFF6FF; */
}

#featured:before {
  transform: rotate( -14deg);
}